<div id="graphcontainer">
    <h2>Graph</h2>
    <div id="graph">
        <p>I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. </p>
    </div>
</div>