<!--meta tags, favicon-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- HTML Meta Tags -->
<meta name="description" content="A ""simple"" static site generator written in Rust.

the reasoning: quartz == igneous == ignite == fire == blazingly fast™">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{base_url}}">
<meta property="og:type" content="website">
<meta property="og:title" content="Blaze">
<meta property="og:description" content="A &quot simple &quot static site generator written in Rust.

the reasoning: quartz == igneous == ignite == fire == blazingly fast™">
<meta property="og:image" content="{{base_url}}static/blazeog.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="{{base_url}}">
<meta property="twitter:url" content="{{base_url}}">
<meta name="twitter:title" content="Blaze">
<meta name="twitter:description" content="A &quot simple &quot static site generator written in Rust.

the reasoning: quartz == igneous == ignite == fire == blazingly fast™">
<meta name="twitter:image" content="{{base_url}}static/blazeog.png">

<!--to do later: make the baseurl thingy (will have to ask ossac(alongside logic for html partials(and forwardlinks)))-->

<link rel="icon" type="image/x-icon" href="{{base_url}}static/blaze.ico">

<base href="{{base_url}}">
<title>{{title}}</title>

<link rel="preload" href="{{base_url}}css/main.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{base_url}}css/main.css"></noscript>

<link rel="preload" href="{{base_url}}css/custom.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{base_url}}css/custom.css"></noscript>

<link rel="preload" href="{{base_url}}css/pagefindcustom.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{base_url}}css/pagefindcustom.css"></noscript>

<link rel="preload" href="{{base_url}}js/d3.v7.min.js" as="script">
<script src="{{base_url}}js/d3.v7.min.js" ></script>

<script defer src="{{base_url}}js/graph.js"></script>


{{ partial "latex.html" .}}
{{ partial "codeblocks.html" .}}
  

