<!--meta tags, favicon-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="Blaze">
<meta property="og:description" content="A ""simple"" static site generator written in Rust">
<meta property="og:type" content="website">
<meta property="og:image:url" content="./static/blazeog.png">
<meta property="og:image:alt" content="uh oh image no here?!?!?!">
<meta property="og:url" content="https://blaze.toomwn.xyz/">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="675">
<meta property="twitter:card" content="summary">

<!--to do later: make the baseurl thingy (will have to ask ossac(alongside logic for html partials(and forwardlinks)))-->

<link rel="icon" type="image/x-icon" href="./static/blaze.ico">

<base href="{{base_url}}">
<title>{{title}}</title>

<link rel="preload" href="./css/main.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="./css/main.css"></noscript>

<link rel="preload" href="./css/custom.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="./css/custom.css"></noscript>

<link rel="preload" href="./js/d3.v7.min.js" as="script">
<script src="./js/d3.v7.min.js" ></script>

<script defer src="./js/graph.js"></script>


{{ partial "latex.html" .}}
{{ partial "codeblocks.html" .}}
  

