<div id="header">
  <!--<a href="{{base_url}}" class="headerlink"> <!--scuffed but should work-->
  <div id="insideheader">
    <img id="headericon" src="{{base_url}}static/blaze.png" height="60" width="60">
    <h1 id="pageh1">{{title}}</h1>
  </div>
  <div>
    
  <div>
    <img id = "darklightimg" src="{{base_url}}static/darkmode.svg" width="40px" height="40px"/>
    <script defer src="{{base_url}}js/darkmode.js"></script>

  </div>
  <!--</a>-->

</div>

<link href="{{base_url}}pagefind/pagefind-ui.css" rel="stylesheet">
<script src="{{base_url}}pagefind/pagefind-ui.js"></script>

