<a href="/" class="headerlink"> <!--scuffed but should work-->
    <div id="header">

    <img id="headericon" src="./static/blaze.png" height="60" width="60">
    <h1 id="pageh1">{{title}}</h1>
    </div>

    <link href="{{base_url}}/pagefind/pagefind-ui.css" rel="stylesheet">
  <script src="{{base_url}}/pagefind/pagefind-ui.js"></script>

  <div id="search"></div>
  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true }, baseUrl: "https://eddietheed.github.io/Blaze/");
    });
  </script>
</a>
