<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base href="{{base_url}}">
<title>{{title}}</title>

<link rel="preload" href="./css/main.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="./css/main.css"></noscript>

<link rel="preload" href="./css/custom.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="./css/custom.css"></noscript>
<link rel="preload" href="./js/d3.v7.min.js" as="script">
<script src="./js/d3.v7.min.js" ></script>
<script defer src="./js/main.js"></script>

{{ partial "latex.html" .}}
{{ partial "codeblocks.html" .}}
  
<!--meta tags, favicon-->
<link rel="icon" type="image/x-icon" href="./static/blaze.ico">
