<div id="toc">
    <h2>Table of Contents</h2>
    <p>I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. </p>
</div>