<div id="toc">
    <h2 id="toctitle">Table of Contents</h2>
    <p>I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. I am a place holder. </p>
</div>

<script>console.log(document.querySelectorAll("h1, h2, h3, h4, h5, h6"))</script>
