/* google fonts go here! 

e.g. @import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap'); */

/* by default, we use the dante font because its cool */
@font-face {
    font-family: 'Dante MT Std';
    src: url('../static/DanteMTStd-Regular.eot?#iefix') format('embedded-opentype'),
        url('../static/DanteMTStd-Regular.woff2') format('woff2'),
        url('../static/DanteMTStd-Regular.woff') format('woff'),
        url('../static/DanteMTStd-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* base css colours */

:root {
    --background: #151515;
    --lightbackground: #2a2727;
    --lighterbackground: #494444;
    --text: #DDDDDD;
    --textlink: #2F459C;
    --textlinkvisited: #2F459C;
    --secondary: #2F459C;
    --tertiary: #1f2e6b;
    --quaternary: #1e5cb4;
    --mark: #394679;
    --lightblue: #1f86c2;
    --darkerlightblue: #16567b;
    --lightestblue: #82a0a0;
    --green: #389f5f;
    --yellow: #c9ba10;
    --red: #cb4040;
    --orange: #cb8340;
    --codebase: #CDD6DD;
    --bold: #BA1717;
    --italics: #F5D000;
    --peach: #655a4c;
}