
html {
    background-color: var(--background);
    scroll-behavior: smooth;

    font-size: 150%;
}

h1,h2,h3,h4,h5,h6,p,li,mjx-container, table, code, i {
    color: var(--text);
}

.token {
  text-shadow: none !important;
}

code,
pre {
  color: var(--codebase) !important;
  text-shadow: none !important;
  overflow-x: scroll;
  background-color: var(--lightbackground) !important; 
  border-radius: 10px;
  padding: 3px;
  overflow-x: scroll;
  max-width: 70vw;
}


mark {
    background-color: var(--mark);
}

del {
  color: var(--strikethrough);
}

a {
    color: var(--textlink);
    text-decoration: none;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 3px;
    
}

a:hover:not(.headerlink):not(#headinglink){
    background-color: var(--lightbackground) !important;
    transition: 0.1s;
    border-radius: 4px !important;
}

a:visited{
    color: var(--textlinkvisited);
}

em {
    color: var(--italics);
}

strong {
    color: var(--bold);
}

img {
  padding-top: 1.5vh;
}

table {
    background-color: var(--lightbackground);
}

tr {    
    background-color: var(--lighterbackground);
}

tr:nth-child(even) {
    background-color: var(--secondary);
}

tr:nth-child(odd) {
    background-color: var(--quaternary);
}

thead > *{
    background-color: var(--tertiary) !important;
}

td, th {
    padding: 4px;
}

img:not(.calloutimage) {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

span:target {
  background-color: var(--lightbackground) !important;
  border-radius: 4px;
  padding: 5px;
  transition: background-color 0.1s;
}


#rightside img {
  height: 90%;
  width: 100%;
  object-fit: contain;
}


/* header stuff */

#header{
  display: grid;
  grid-template-areas: "a a";
  grid-template-columns: 500px, 1fr;
  width: 100%;
  padding-left: 5%;
  padding-top: 3%;
}

#insideheader{
  display: flex;
}

#darklightimg{
  position: absolute;
  right: 7.8125vw;
}

#headericon {
    margin: 0;
    max-width: 60px;
    max-height: 60px;
}

#pageh1{
    margin-bottom: 0;
    border-bottom: 3px var(--text) solid;
}


/* page arrangements */


#page {
    display: grid;
    grid-template-columns: 0.35fr 0.65fr;
    column-gap: 3%;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    width: 120%;
}

#leftside {
    display: grid;
    grid-template-rows: auto;
    height: max-content;
    position: sticky;
    top: 60px;
}

#toc {
    margin-top: 5%;
    max-height: 35.3vh;
    overflow-y: scroll;
    scrollbar-color: var(--lighttext) var(--background);
    border: 2px var(--text) solid;
    padding: 20px;
    border-radius: 10px;
}

#toctitle {
    margin-top: 0;
}


#backlinks{
    padding-left: 5%;
}

/* graph */

#graph {
    border: 3px solid var(--text);
    border-radius: 10px;
    width: 350px;
    height: 350px;
    margin: auto;
    overflow: clip;
}

#graphcontainer {
    padding-right: 5%;
    margin: auto;
    width: 90%;
}

/* tufte rubbish */

body {
    max-width: 82%;
    margin-right: 18%;
}


.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -53%;
    width: 50%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}



.sidenote:before {
    font-family: et-book-roman-old-style;
    position: relative;
    vertical-align: baseline;
}


.sidenote:before {
    font-size: 1rem;
    top: -0.5rem;
}


body,html {
    width: 100%
}
#page {
    width: 100%;
}

hr {
    border: none;
    border-top: 3px double var(--lighterbackground);
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: var(--background);
    content: '* * * * *';
    color: var(--text);
    padding: 0 4px;
    position: relative;
    top: -9px;
}

#sidenotetitle {
    float: right;
    clear: right;
    margin-right: -53%;
    width: 50%;
    margin-bottom: 0;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}

/* callouts */

#callout {
    padding: 12px;
    border-radius: 5px;
    width: fit-content;
}

.info-callout {
    background-color: var(--lightblue);
}

.quote-callout {
    background-color: var(--peach);
}

.note-callout {
    background-color: var(--darkerlightblue);
}

.abstract-callout {
    background-color: var(--lightestblue);
}

.example-callout {
    background-color: var(--purple);
}

.todo-callout {
    background-color: var(--lightblue);
}

.tip-callout {
    background-color: var(--lightestblue);
}

.success-callout {
    background-color: var(--green);
}

.question-callout {
    background-color: var(--yellow);
}

.warning-callout {
    background-color: var(--orange);
}

.failure-callout {
    background-color: var(--red);
}

.danger-callout {
    background-color: var(--red);
}

.bug-callout, .missing-callout {
    background-color: var(--red);
}


#callout-header {
    display: flex;
    border-bottom: 1.5px solid var(--text);
    padding-bottom: 3px;
}

#callout-title {
    margin: 0;
    margin-left: 2%;
    font-size: 26px;
}


/* misc */

mjx-container {
    font-size: 100% !important;
}

#description {
    padding-left: 5%;
    margin-top: 0;
    margin-bottom: 1.91vh;
}

#nextpreviouslinks {
  width: 65vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nextpreviouslinks2 {
  width: 65vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nextpreviouslink {
  margin-left: 5vw;
  margin-right: 5vw;
}

/* toc scrollbar */

::-webkit-scrollbar {
    width: 10px;
    }
    
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--background); 
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background: var(--lighttext); 
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background:var(--secondary); 
    }

#search {
  padding-left: 5%;
  margin-bottom: 1.91vh;
}

/* global graph */
#globalgraphbackground {
  display: none;
  z-index: 9999;
  backdrop-filter: blur(4px);
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

#globalgraphcontainer {
  border: 1px solid var(--lightbackground);
  background-color: var(--background);
  box-sizing: border-box;
  border-radius: 5px;
  width: 50vw;
  height: 60vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#graphheader {
  display: flex;
  align-items: center;
}

#globalgraphbutton{
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  background-size: cover !important;
  width: 30px;
  height: 30px;  
  cursor: pointer;
  margin-left: 20px;
}
