:root {
  --pagefind-ui-scale: .8 !important;
  --pagefind-ui-primary: var(--tertiary) !important;
  --pagefind-ui-text: var(--text) !important;
  --pagefind-ui-background: var(--lightbackground) !important;
  --pagefind-ui-border: var(--secondary) !important;
  --pagefind-ui-tag: var(--secondary) !important;
  --pagefind-ui-border-width: 2px !important;
  --pagefind-ui-border-radius: 8px !important;
  --pagefind-ui-image-border-radius: 8px !important;
  --pagefind-ui-image-box-ratio: 3 / 2 !important;
}
