:root {
  --pagefind-ui-scale: 1;
  --pagefind-ui-primary: var(--tertiary);
  --pagefind-ui-text: var(--text);
  --pagefind-ui-background: var(--lightbackground);
  --pagefind-ui-border: var(--secondary);
  --pagefind-ui-tag: var(--secondary);
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: 8px;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: sans-serif;
}
